/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
/*@import "bootstrap-sprockets";*/
/*@import "bootstrap";*/
@import "font-awesome";


$sp: 760px;



@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #09207f;
	background-color: #fff0f5;
}

a {
	color: #082080;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #000080;
}

.flash {
	
}

li {
	list-style: none;
}



.header .container {
	width: 100%;
	padding: 0;
}

.wrap {
	width: 1000px;
	margin: 30px auto;
	background-color: #fff0f5;
	border: solid 3px #082080;
	overflow:hidden;
	border-radius: 10px;
	box-shadow: 15px 15px #da70d6;
	
}

.header-wrap {
	width: 95%;
	margin: 20px auto;
    padding: 10px 0;
	background-color: #fff0f5;
	display: flex;
    justify-content: space-between;
}

.content-wrap {
	width: 95%;
	margin: 0 auto 20px;
	padding-bottom: 40px;
	background-color: #fff0f5;
	display: flex;
	justify-content: space-between;
}

.footer-wrap {
	width: 95%;
	margin: 0 auto;
	padding: 20px 0;
	background-color: #fff0f5;
}

.logo {
	font-size: 40px;
	font-weight: 900;
    font-family: fantasy;
    margin-top: 8px;
}

.nav {
	display: flex;
}

.nav li {
	margin-left: 20px;
	padding: 20px;
    font-size: 20px;
    
}

.nav li a {
	border-bottom: 3px solid #000080;
	display: inline-block;
}

.nav li a:hover {
	border-bottom: 3px dotted #000080;
	color: #000080;
}

.nav li:nth-of-type(2n+1) {
	margin-bottom: 10px;
}

.nav li:nth-of-type(2n) {
	margin-top: 10px;
}

h1 {
	border-bottom: solid 2px #09207f;
	margin: 30px 0;
	font-family: fantasy;
}

.aside {
	flex-basis: 25%;
}

.main {
	flex-basis: 73%;
}

.item {
	font-size: 20px;
    font-weight: 600;
    border-bottom: solid 1px #09207f;
    margin-bottom: 15px;
}

.data {
	padding-left: 20px;
	margin-bottom: 15px;
}

label {
	font-size: 20px;
    font-weight: 600;
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

#book_opinion {
	display: block;
}

.table {
    border-collapse: separate;
    border-spacing: 8px 0px;
    width: 100%;
}

td {
	border: solid 6px #fff0f5;
}

.comment-count {
	font-size: 5px;
}

th {
	text-align: left;
	padding: 0 0 10px 10px;
}

thead th {
	/*border-bottom: 1px solid;*/
}

.btn {
	font-size: 20px;
	background-color: #000080;
	border-radius: 8px;
	padding: 10px;
	color: #fff;
	border: 3px solid #09207f;
}

.btn:hover {
	border: 3px solid #000080;
	color: #000080;
	background-color: #fff;
	box-shadow: 5px 5px 3px #add8e6;
}

.btn-wrap {
	text-align: center;
	margin-top: 30px;
}

.top {
	margin: 0 auto;
	width: 600px;
}

.top p {
	margin-bottom: 30px;
}

.top .btn {
	margin: 20px;
}

.others h2 {
	margin-top: 30px;
}

.field {
	margin: 30px;
}

.others {
	margin: 0 auto;
	width: 70%;
}

.others label {
	margin-bottom: 15px;
}

.others input {
	font-size: 18px;
}

.others textarea {
	font-size: 15px;
}

.link .btn {
	font-size: 12px;
}

.link {
	margin-top: 20px;
}

.user_name {
	font-size: 20px;
}

.footer {
	display: flex;
}

.copy-right {
	/*flex-direction: row-reverse;*/
	text-align: right;
	padding-right: 50px;
}

.edit_book {
	margin: 0 auto;
	width: 70%;
}

.edit_book label {
	display: block;
}

.comme .comme-text {
	width: 80%;
}

.comme .btn {
	font-size: 10px;
}

.comme {
	margin: 20px 0;
}

.favo {
	margin: 20px 0;
}

.comme table {
	margin-top: 30px;
}

.search {
	margin: 30px 0;
}

.search_box {
	font-size: 20px;
}

.search .btn {
	font-size: 15px;
	padding: 3px;
}

.following {
	margin: 30px 0;
}

.follow-btn {
	margin-top: 20px;
}

@media only screen and (max-width:765px) {
    .wrap {
    	width: 100%;
    }
}
